<!DOCTYPE>
<html>
    <head>
        <title>IPL AUCTION</title>
    </head>
    <body bgcolor = "aqua">
        <h1><b><marquee>WELCOME</marquee></b><br><h1>
        <ol type="1">
            <h3><a href="/searchbycategory"><li>Search Player by category</li></a></h3>
            <h3><a href="/searchbyname"><li>Search Player by name</li></a></h3>
            <h3><a href="/bid"><li>Bid Player</li></a></h3>
            <h3><a href="/team"><li>Know about a team</li></a></h3>
        </ol>
    </body>
</html>

